# Environment
conda-env/

# Python
**/__pycache__/**

# VSCode
.vscode/
*.DS_Store

# Results
results/
logs/
notebooks/

# Data
data/

# Keys
configs/utils/config_api_keys.yaml

# Shell jobs
*.sh.e*
*.sh.o*